body {
  background-color: beige;
}

h1 {
	text-align: center;
	padding-top: 100px;
	font-size: 75px;
}

#programme-div {
	display: none;
	padding: 30px;
}

#programme-div div {
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
}

#initialisation-button {
	width: 200px;
	height: 75px;
	position: relative;
	top: 20%;
	left: 39.7%;
	background-color: #203040;
	color: white;
	font-weight: bold;
}

#information {
	position: relative;
	top: 25%;
	left: 39.7%;
	font: 20px;
} 

.menus-button {
	width: 200px;
	height: 50px;
	background-color: #203040;
	color: white;
	font-weight: bold;
}

#test-button {
	width: 150px; 
	height:50px; 
	color: white; 
	background-color: #203040;
	position: relative;
	top: 1.7%;
}

.miroir-button {
	width: 250px; 
	height:50px; 
	color: white; 
	background-color: #203040;
	position: relative;
	top: 1.7%;
}

#led1 {
	width: 170px; 
	height:50px; 
}

.textinput {
  width: 80px; 
	height:45px;
	line-height: 45px;
	font-size: 25px;
	text-align: center;
	vertical-align: middle;
} 

.okButton {
	position: relative;
	top: 1.7%;
	/*transform: translateY(-100%);*/
	width: 50px;
	height: 50px;
	color: white;
	background-color: #203040;
}

#MiroirSortieFermeture, #MiroirEntreeFermeture {
	display: none;
} 

#MiroirEntreeOuverture, #MiroirEntreeFermeture {
	margin-right: 30px;
} 

#reseauVers600 {
	display: none;
}

.reseau-button {
	width: 250px; 
	height:50px; 
	color: white; 
	background-color: #203040;
	position: relative;
	top: 1.7%;
}